<!--
  Generated template for the AdiminClientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
          <button ion-button menuToggle>
           <ion-icon  name="menu"></ion-icon>
          </button> 	
         </ion-buttons>
    <ion-title  text-center> Clientes </ion-title>
    <ion-buttons right>
    	<button ion-button (click)="AgregarCliente()">
          <ion-icon name="person-add"></ion-icon>
    	</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <!-- <button ion-item *ngFor="let cliente of clientes" (click)="goToNuevoCliente(note.id)"> -->
      <ion-item *ngFor="let cliente of clientes | async ">
          <ion-icon name="person" item-left></ion-icon>  {{ cliente.nombre }} {{ cliente.apellido }} 
      </ion-item>
     
  </ion-list>
  <ion-list>
    <button ion-item *ngFor="let cliente of clientes | async " (click)="goToNuevoCliente(cliente.id)">
      {{ cliente.nombre }}
		</button>   
  </ion-list>
</ion-content>
