page-productos {
    
}
.columna{
    padding-right:200px;
   // background:#A0ADB1;
    text-align: center;
}
.thead-inverse{
    background:black;
    color: white;
  
}

    

.Titulo_tabla{
    padding: 800px;
     
}